:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  background-color: azure;
}

#app {
  margin: 0;
  min-height: 100vh;
}
